@tailwind base;
@tailwind components;
@tailwind utilities;

* { @apply outline-none bg-transparent touch-none overflow-hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

html, body, main { @apply relative size-full }